openapi: 3.2.0
info:
  title: Collins Aerospace ARINC Messaging Flights API
  description: The Collins Aerospace ARINC Messaging API provides access to the ARINC Global Network for aviation messaging and data exchange. Supports ACARS, OOOI, flight messages, weather data, and operational communications between aircraft, airlines, airports, and ground operations. Part of the legacy United Technologies / RTX Collins Aerospace digital platform.
  version: '1.0'
  contact:
    name: Collins Aerospace ARINC Support
    url: https://www.rtx.com/collinsaerospace/what-we-do/industries/commercial-aviation/ground-operations/messaging-data-exchange
  x-generated-from: documentation
servers:
- url: https://api.arinconline.collinsaerospace.com
  description: ARINC Online Production
security:
- bearerAuth: []
tags:
- name: Flights
  description: Flight information and tracking operations
paths:
  /flights:
    get:
      operationId: listFlights
      summary: Collins Aerospace ARINC List Flights
      description: Returns flight information including OOOI times (Out, Off, On, In), gate information, and operational status.
      tags:
      - Flights
      parameters:
      - name: airlineCode
        in: query
        required: false
        description: IATA airline code.
        schema:
          type: string
        example: AA
      - name: flightNumber
        in: query
        required: false
        description: Flight number.
        schema:
          type: string
        example: AA100
      - name: departureDate
        in: query
        required: false
        description: Flight departure date (YYYY-MM-DD).
        schema:
          type: string
          format: date
        example: '2025-03-14'
      - name: origin
        in: query
        required: false
        description: Origin airport IATA code.
        schema:
          type: string
        example: BOS
      - name: destination
        in: query
        required: false
        description: Destination airport IATA code.
        schema:
          type: string
        example: JFK
      responses:
        '200':
          description: Flights returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlightList'
              examples:
                ListFlights200Example:
                  summary: Default listFlights 200 response
                  x-microcks-default: true
                  value:
                    total: 1
                    flights:
                    - flightId: AA100-20250314-BOS-JFK
                      airlineCode: AA
                      flightNumber: AA100
                      registration: N12345
                      departureDate: '2025-03-14'
                      origin: BOS
                      destination: JFK
                      scheduledDeparture: '2025-03-14T10:00:00Z'
                      actualOut: '2025-03-14T10:05:00Z'
                      actualOff: '2025-03-14T10:18:00Z'
                      status: IN_FLIGHT
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Flight:
      type: object
      description: Aviation flight record with OOOI event times.
      properties:
        flightId:
          type: string
          description: Unique flight identifier.
          example: AA100-20250314-BOS-JFK
        airlineCode:
          type: string
          description: IATA airline code.
          example: AA
        flightNumber:
          type: string
          description: Flight number.
          example: AA100
        registration:
          type: string
          description: Aircraft registration.
          example: N12345
        departureDate:
          type: string
          format: date
          description: Scheduled departure date.
          example: '2025-03-14'
        origin:
          type: string
          description: Origin airport IATA code.
          example: BOS
        destination:
          type: string
          description: Destination airport IATA code.
          example: JFK
        scheduledDeparture:
          type: string
          format: date-time
          description: Scheduled departure time (UTC).
          example: '2025-03-14T10:00:00Z'
        actualOut:
          type: string
          format: date-time
          description: Actual OUT time - aircraft left gate (UTC).
          example: '2025-03-14T10:05:00Z'
        actualOff:
          type: string
          format: date-time
          description: Actual OFF time - aircraft left ground (UTC).
          example: '2025-03-14T10:18:00Z'
        actualOn:
          type: string
          format: date-time
          description: Actual ON time - aircraft touched down (UTC).
        actualIn:
          type: string
          format: date-time
          description: Actual IN time - aircraft arrived at gate (UTC).
        status:
          type: string
          description: Current flight status.
          enum:
          - SCHEDULED
          - DELAYED
          - BOARDING
          - DEPARTED
          - IN_FLIGHT
          - LANDED
          - ARRIVED
          - CANCELLED
          example: IN_FLIGHT
    FlightList:
      type: object
      description: Paginated list of flights.
      properties:
        total:
          type: integer
          description: Total number of matching flights.
          example: 20
        flights:
          type: array
          description: List of flight records.
          items:
            $ref: '#/components/schemas/Flight'
    Error:
      type: object
      description: API error response.
      properties:
        code:
          type: string
          description: Error code.
          example: INVALID_REQUEST
        message:
          type: string
          description: Human-readable error message.
          example: Invalid message type
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token for ARINC Online API authentication.
externalDocs:
  description: Collins Aerospace ARINC Messaging Documentation
  url: https://www.rtx.com/collinsaerospace/what-we-do/industries/commercial-aviation/ground-operations/messaging-data-exchange/arinc-messaging
