openapi: 3.1.0
info:
  title: Collins Aerospace ARINC Messaging Flights Weather API
  description: The Collins Aerospace ARINC Messaging API provides access to the ARINC Global Network for aviation messaging and data exchange. Supports ACARS, OOOI, flight messages, weather data, and operational communications between aircraft, airlines, airports, and ground operations. Part of the legacy United Technologies / RTX Collins Aerospace digital platform.
  version: '1.0'
  contact:
    name: Collins Aerospace ARINC Support
    url: https://www.rtx.com/collinsaerospace/what-we-do/industries/commercial-aviation/ground-operations/messaging-data-exchange
  x-generated-from: documentation
servers:
- url: https://api.arinconline.collinsaerospace.com
  description: ARINC Online Production
security:
- bearerAuth: []
tags:
- name: Weather
  description: Aviation weather data operations
paths:
  /weather:
    get:
      operationId: getWeather
      summary: Collins Aerospace ARINC Get Aviation Weather
      description: Returns aviation weather data including METARs, TAFs, SIGMETs, PIREPs, and graphical weather information for specified airports or regions.
      tags:
      - Weather
      parameters:
      - name: stationType
        in: query
        required: true
        description: Type of weather data requested.
        schema:
          type: string
          enum:
          - METAR
          - TAF
          - SIGMET
          - PIREP
          - WINDS_ALOFT
        example: METAR
      - name: station
        in: query
        required: false
        description: ICAO station identifier.
        schema:
          type: string
        example: KBOS
      - name: region
        in: query
        required: false
        description: Geographic region code.
        schema:
          type: string
        example: CONUS
      responses:
        '200':
          description: Weather data returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeatherData'
              examples:
                GetWeather200Example:
                  summary: Default getWeather 200 response
                  x-microcks-default: true
                  value:
                    station: KBOS
                    type: METAR
                    observationTime: '2025-03-14T10:00:00Z'
                    rawText: KBOS 141000Z 27015KT 10SM SCT060 BKN090 12/02 A3012 RMK AO2
                    windDirection: 270
                    windSpeed: 15
                    visibility: 10.0
                    clouds:
                    - coverage: SCT
                      altitude: 6000
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    WeatherData:
      type: object
      description: Aviation weather observation or forecast.
      properties:
        station:
          type: string
          description: ICAO weather station identifier.
          example: KBOS
        type:
          type: string
          description: Type of weather report.
          enum:
          - METAR
          - TAF
          - SIGMET
          - PIREP
          - WINDS_ALOFT
          example: METAR
        observationTime:
          type: string
          format: date-time
          description: Time of the weather observation (UTC).
          example: '2025-03-14T10:00:00Z'
        rawText:
          type: string
          description: Raw weather report text.
          example: KBOS 141000Z 27015KT 10SM SCT060 BKN090 12/02 A3012 RMK AO2
        windDirection:
          type: integer
          description: Wind direction in degrees magnetic.
          example: 270
        windSpeed:
          type: integer
          description: Wind speed in knots.
          example: 15
        visibility:
          type: number
          description: Visibility in statute miles.
          example: 10.0
        clouds:
          type: array
          description: Cloud layers.
          items:
            $ref: '#/components/schemas/CloudLayer'
    Error:
      type: object
      description: API error response.
      properties:
        code:
          type: string
          description: Error code.
          example: INVALID_REQUEST
        message:
          type: string
          description: Human-readable error message.
          example: Invalid message type
    CloudLayer:
      type: object
      description: A cloud layer in a weather observation.
      properties:
        coverage:
          type: string
          description: Cloud coverage code.
          enum:
          - FEW
          - SCT
          - BKN
          - OVC
          example: SCT
        altitude:
          type: integer
          description: Cloud base altitude in feet MSL.
          example: 6000
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token for ARINC Online API authentication.
externalDocs:
  description: Collins Aerospace ARINC Messaging Documentation
  url: https://www.rtx.com/collinsaerospace/what-we-do/industries/commercial-aviation/ground-operations/messaging-data-exchange/arinc-messaging
